.edit_bar{
    .btn{
        margin-left:10px;
    }
}

.items.grid.editmode{
    .ui-sortable-placeholder{
        border: dashed 2px #333;
    }
    .item{
        .wrapper{
            cursor: pointer;
            a.detail{
                display:none;
            }
            *{
                cursor: default;
                pointer-events: none;
            }
            &::after{
                color:#333333;
                content:"\f096";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 2rem;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                position:absolute;
                top:0;
                right:0;
                background-color: rgba(0,0,0,0);
                padding: 0.4rem 0.5rem 0.3rem;
                border-bottom-left-radius: .5rem;
            }
        }
        &.selected{
            .wrapper{
                box-shadow: 0 0 0.2rem 0.2rem #28a745;
                &::after{
                    color:#28a745;
                    background-color: rgba(255,255,255,1);
                    content:"\f1f8";
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: 2rem;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    position:absolute;
                    top:0;
                    right:0;
                }
            }
        }
    }
}

modal#shareModal{
    #collection_link{
        cursor:pointer;
        margin-bottom:.5rem;
        padding: 1.6rem 6rem 1.6rem 1.6rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .copybutton{
        position: absolute;
        top: 1.1rem;
        font-size: 1.4rem;
        padding: 1.6rem;
        right: 1.1rem;
        pointer-events:none;
    }
}