@import 'form';
@import 'detail_deliverable_prompt';
@import 'project_list';
@import 'project_list_20';
@import 'creator_ongoing';
@import 'add_project_prompt';
@import 'add_project';
@import 'completion_prompt';
@import 'loading';
@import 'temp';
@import 'collection';
@import 'owlcarousel/owl.carousel';
@import 'owlcarousel/owl.theme.default';

.elementNeedFocus{
	position:relative;
	&::after{
		content:" ";
		display:block;
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background-color:yellow;
		pointer-events: none;
		animation: fadeOut 1s forwards;
	}
}

@keyframes fadeOut{
	0% {opacity: 0.5}
	33% {opacity: 0.5}
	100% {opacity: 0}
}

.form-control.selectize-control, .form-control.selectize-dropdown{
    height:auto;
}

/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; transform: translate3d(0, 0, 0); }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; transform: translate3d(0, 0, 0); }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; transform: translate3d(0, 0, 0); }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; transform: translate3d(0, 0, 0); }
}